@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	width: 100%;
	font-family: sans-serif;
}

#contrduce {
	text-align: center;
	width: 80%;
	margin-left: 10%;
	line-height: 35px;
}
#main {
	width: 94%;
	margin: 0 3%;
	padding: 50px;
}
.show {
	max-width: 100%;
	margin: 10px 0;
	padding: 30px 20px 30px;
	background: #fff;
}
.showimg {
	max-width: 35%;
	display: inline-block;
}
.ptitle {
	text-align: center;
	font-size: 2.2em;
	margin: 80px 0;
}


@media screen and (max-width:480px) { 
	.ptitle {
		font-size: 1.5em;
		margin: 50px 0;
	}
	#contrduce {
		width: 90%;
		margin: 0 auto;
	}
	#main {
		margin: 0 3%;
		font-size: 15px;
		line-height: 25px;
		padding: 0;
	}
	.show {
		position: relative;
		padding: 25px 20px 25px;
		background: #eee;
		border-radius: 6px;
	}
	.titles {
		margin-bottom: 10px;
	}
	.content p {
		font-size: 12px;
	}
/*	.show:first-child{
		border-top: 2px solid #399;
	}
	.show:last-child{
		border-bottom: 2px solid #399;	
	}
*/	.showimg {
		float: left;
		max-width: 40%;
		margin: 5px 20px 5px 0;
	}
}


@media screen and (min-width:481px) and (max-width:1024px) {
	.show {
		position: relative;
		height: 218px;
/*		border-left: 5px solid #399;*/
	}
	.showimg, .content {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-o-transform: translateY(-50%);
	}
	.showimg {
		left: 3%;
		max-width: 35%;
	}
	.content {
		left: 46%;
		width: 50%;
		line-height: 23px;
	}
	.titles {
		margin-bottom: 10px;
	}
	.content p {
		font-size: 13px;
	}
}


@media screen and (min-width:1025px) {
	.show {
		position: relative;
		height: 350px;
/*		border-left: 5px solid #399;*/
	}
	.showimg, .content {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-o-transform: translateY(-50%);
	}
	.showimg {
		left: 5%;
	}
	.content {
		text-align: center;
		left: 50%;
		width: 40%;
		line-height: 35px;
	}
	.titles {
		margin-bottom: 15px;
		font-size: 30px;
	}
}
