@charset "UTF-8";


/********顶部菜单***********/      
#top-menu ul {
	background: #399;
}                           
#top-menu ul li {
	width: 15%;
}
#top-menu ul li a {
	color: #eee;
}



/***********横幅*************/                              
#bg {
	display: none;
}
#bg_mob {
	padding: 10px 0;
	margin: 0 3% 10px 3%;
	border-bottom: 1px solid #000;
}


/**********展示区**********/
#main {
	margin: 0 3%;
	font-size: 15px;
	line-height: 25px;
}
.show {
	position: relative;
	padding: 30px 20px 30px;
	background: #eee;
}
.titles {
	margin-bottom: 10px;
}
.content p {
	font-size: 12px;
}
.show:first-child{
	border-top: 3px solid #399;
}
.show:last-child{
	border-bottom: 3px solid #399;	
}
.showimg {
	float: left;
	margin: 5px 20px 5px 0;
}



/********底部菜单栏********/
#buttom-menu {
	position: relative;
	width: 88%;
	margin: 20px 6%;
	padding: 20px 0;
	font-size: 12px;
	text-align: left;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
}
#buttom-menu ul li {
	list-style: none;
	border-bottom: 1px solid #e3e3e3;
}
#buttom-menu ul li:last-child{
	border-bottom: none;
}
#buttom-menu ul li h3 {
	padding: 10px 0 6px 0;
	width: 100%;
}
#buttom-menu ul li h3::after{
	position: absolute;
	display: inline-block;
	content: '';
	width: 0;
	height: 0;
	border-width: 4px;
	border-style: solid;
	border-color: #000 transparent transparent transparent;
	right: 7px;
	margin-top: 7px;
}
#buttom-menu ul li ul li {
	width: 100%;
	padding: 6px 0;
	text-indent: .5em;
	border-bottom: none;
}




