@charset "UTF-8";


/********顶部菜单***********/
#top-menu ul {
	text-align: center;
	padding: 10px 0;
}                                  
#top-menu ul li {
	display: inline-block;
	width: 15%;
}
#top-menu ul li a {
	text-decoration: none;
}


/***********横幅*************/                              
#bg {
	display: none;
}
#bg_mob {
	padding: 10px 0;
	margin: 0 3% 10px 3%;
	border-bottom: 1px solid #000;
	border-top:  1px solid #000;
}


/**********展示区**********/
#main {
	margin: 0 3%;
	font-size: 15px;
	line-height: 25px;
}
#main h2 {
	font-size: 20px;
	margin: 0 0 10px 0;
}
.show {
	max-width: 88%;
	margin: 20px 3%;
}
.showimg {
	max-width: 40%;
}
img {
	float: left;
	margin: 5px 20px 5px 0;
}



/********底部菜单栏********/
#buttom-menu {
	position: relative;
	width: 88%;
	margin: 20px 6%;
	padding: 20px 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	font-size: 12px;
	text-align: left;
}
#buttom-menu ul {
	border-bottom: 1px solid #e3e3e3;
}
#buttom-menu h3 {
	padding: 10px 0 6px 0;
	width: 100%;
}
#buttom-menu h3::after{
	position: absolute;
	display: inline-block;
	content: '';
	width: 0;
	height: 0;
	border-width: 4px;
	border-style: solid;
	border-color: #000 transparent transparent transparent;
	right: 7px;
	margin-top: 7px;
}
#buttom-menu ul li {
	width: 100%;
	list-style: none;
	padding: 6px 0;
	text-indent: .5em;
}
#buttom-menu ul li a {
	text-decoration: none;
}





