@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}
#title {
	text-align: center;
}
#menubutton {
	width: 100%;
	background: #2980b9;
	color: #fff;
	display: block;
	font-size: 1.5em;
	padding: .4em 0;
	cursor: pointer;
	border: none;
	margin-bottom: 5px;
}
#menu-list {
	display: none;
	position: absolute;
	width: 100%;
	text-align: center;
}
#menubutton.active + ul {
	display: block;
}
/********
	浅紫色#9b59b6
	深紫色#8e44ad
	浅蓝色#2980b9
	深蓝色#3498db
	浅灰蓝#edf5f9
	margin: 20px;
	padding: 7px 46px 10px 45px;
*********/
#menu ul {
}
#menu ul li {
	text-align: center;
	list-style: none;
}
#menu ul li a {
	display: inline-block;
	text-decoration: none;
	background: #b0c4de;
	color: #fff;
	height: 50px;
	width: 98%;
	border-bottom: 1px solid #fff;
	border-radius: 6px;
	line-height: 50px;
}
#menu ul li a:hover{
	background: #2980b9;
}
.outer::after{
	content: '';
	width: 0;
	height: 0;
	border-width: 5px;
	border-style: solid;
	position: absolute;
	border-color: #fff transparent transparent transparent;
	right: 20px;
	margin-top: 25px;
}
.outer.hide::after{
	border-color: transparent #fff transparent transparent;
	right: 20px;
	margin-top: 25px;
}
.inner.hide {
	display: none;
}