@charset "UTF-8";

/***********横幅*************/
#bg_mob {
	display: none;
}
#top-menu ul li {
	margin: 0 20px;
	padding: 10px 0;
}


/************展示区***********/
.showimg {
	max-width: 40%;
}


/********底部菜单栏********/
#buttom-menu {
	height: 300px;
	text-align: center;
	padding: 25px 0;
	margin-bottom: 20px;
}
#buttom-menu ul li {
	width: 25%;
	display: inline-block;
	float: left;
}
#buttom-menu ul li h3 {
	margin-bottom: 15px;
}
#buttom-menu ul li ul li{
	width: 100%;
	margin: 5px 0;
}