@charset "UTF-8";

#main {
	position: relative;
	top: 0;
	padding: 40px 100px 10px 100px;
}
#slideshow {
	width: center;
	height: 700px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}
#slideshow ul, #slideshow ul li {
	list-style: none;
	position: absolute;
}
#slideshow-nav {
	width: 100%;
	bottom: 20px;
	text-align: center;
	position: absolute;
}
#slideshow-nav span {
	display: inline-block;
	margin: 0 7px;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	background: rgba(255, 255, 255, 0.3);
	transition: all .5s;
	-webkit-transition: all .5s;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
}
#slideshow-nav span.active {
	background: #FFF;
}
#menu {
	border-bottom: 3px solid rgba(255,255,255,.5);
	margin-bottom: 30px;
	padding-bottom: 12px;
	width: 100%;
}
#open-side-nav {
}
#title {
	display: inline-block;
	font-size: 70px;
	margin-left: 30px;
	color: #FFF;
}
#section {
	overflow: hidden;
}
